.additive-item {
  display: grid;
  grid-template-columns: 150px 1fr;
  grid-template-rows: auto auto auto;
  row-gap: 13px;
}

.additive-item__title {
  margin: 0;
  grid-column: 1 / -1;
  grid-row: 1 / 2;
  font-family: @basic-fonts;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  align-items: left;
  text-align: left;
  text-transform: uppercase;
  color: @other-dark-grey;
}

.additive-item__label {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  font-family: @second-fonts;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  align-items: center;
  text-align: left;
  color: @special-dark-grey;
}

.additive-item__value {
  grid-column: 2 / -1;
  grid-row: 2 / 3;
  font-family: @second-fonts;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  align-items: center;
  text-align: right;
  color: @special-dark-grey;
}

.additive-item__button {
  width: 280px;
  grid-column: 1 / -1;
  grid-row: 3 / -1;
  margin-bottom: 19px;
  padding: 10px 109px;
  font-family: @basic-fonts;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: @basic-white;
  background-color: @basic-green;
  border: none;
}
