.copyright {
  margin-top: 28px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.copyright__text {
  margin: 0;
  margin-right: 22px;
  font-family: @second-fonts;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: @special-dark-grey;
}

.copyright__logo {
  width: 27px;
  height: 34px;
  background-image: url("../img/html_academy.svg");
}
