.form__group {
  margin-bottom: 24px;
}

.form__label {
  font-family: @basic-fonts;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: @special-dark-grey;
}

.form__input-text {
  margin-bottom: 14px;
  padding: 15px 13px;
  font-family: @basic-fonts;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  align-items: center;
  text-transform: uppercase;
  color: @special-dark-grey;

  &--name {
    width: 229px;
  }
}

.form__input-text--weight {
  margin-left: 8px;
  width: 204px;
}

.form__input-text--age {
  margin-left: 4px;
  width: 172px;
}

.form__input-text--email {
  width: 219px;
}

.form__input-text--tel {
  width: 204px;
}

.form__textarea {
  min-width: 280px;
  min-height: 150px;
  padding: 9px 13px;
  font-family: @basic-fonts;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: @special-dark-grey;
}

.form__radio-lists {
  .list-reset();
}

.form__item {
  margin-bottom: 25px;
}

.form__item-input {
  position: relative;
  display: block;
  padding-left: 45px;
}

.form__item-mark {
  position: absolute;
  top: -4px;
  left: 0;
  background-color: basic-white;

  &--radio {
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }

  &--checkbox {
    width: 40px;
    height: 40px;
  }
}

.form__item-option {
  font-family: @basic-fonts;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;

  &--radio {
    color: @other-dark-grey;
  }

  &--checkbox {
    color: @basic-black;
  }
}

.form__checkbox-title {
  margin-bottom: 34px;
  font-family: @basic-fonts;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  color: @basic-black;
}

.form__checkbox-lists {
  .list-reset();
}

.form__checkbox-wrapper {
  margin-bottom: 34px;
}

.form__button {
  width: 280px;
  margin-bottom: 21px;
  padding: 7px 44px;
  font-family: @basic-fonts;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: @basic-white;
  background-color: @basic-green;
}

.form__legend {
  margin-left: 60px;
  font-family: @second-fonts;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  align-items: center;
  text-align: center;
  color: @basic-black;
}
