.info-list {
  .list-reset();
}

.info-list__item-label {
  font-family: @second-fonts;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: @special-dark-grey;
}

.info-list__item-value {
  font-family: @second-fonts;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: @special-dark-grey;
}
