.main-header__wrapper {
  display: flex;
  flex-direction: column;
  background-color: @basic-white;
  box-sizing: border-box;
}

.main-header__logo {
  padding-left: 20px;
  display: inline-block;
  padding-top: 10px;
  height: 65px;
}

.main-header__logo-image {
  margin-right: 65px;
}

.main-header__logo-text {
  margin-top: 15px;
  transform: translateX(-50%);
  left: 50%;
  position: absolute;
}

@media (min-width: @tablet-width) {
  .main-header__wrapper {
    .wrapper();
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .main-header__logo {
    margin-top: 24px;
    width: 180px;
    height: 52px;
  }

  .main-header__logo-image {
    margin-right: 10px;
  }

  .main-header__logo-text {
    transform: none;
    left: 0;
    position: relative;
  }
}

@media (min-width: @desktop-width) {
  .main-header__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .main-header__logo {
    margin-top: 53px;
    width: 210px;
    height: 59px;
  }

  .main-header__logo-image {
    margin-right: 5px;
  }
}
