.range__wrapper {
  .wrapper();
}

.range__button {
  font-family: @basic-fonts;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  align-items: center;
  text-transform: uppercase;
  color: @basic-black;
  background-color: @basic-white;
  border: none;

  &--left {
    width: 49px;
    text-align: left;

    &--right {
      width: 49px;
      text-align: right;
    }
  }
}

.range__slider {
  width: 86px;
  margin-right: 13px;
  background: @basic-white;
  border: 1px solid @special-grey;
  border-radius: 6px;
}
