@font-face {
  font-family: "Oswald";
  src: url("../fonts/oswaldmedium.woff2") format("woff2"), url("../fonts/oswaldmedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Oswald";
  src: url("../fonts/oswaldregular.woff2") format("woff2"), url("../fonts/oswaldregular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  min-height: 100%;
  margin: 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  background-color: #ffffff;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.button {
  display: inline-block;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-align: center;
  color: #ffffff;
  background-color: #68B738;
  border: none;
  text-decoration: none;
  text-transform: uppercase;
}
.main-header {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}
.main-header__logo {
  margin-top: 10px;
  height: 65px;
}
@media (min-width: 768px) {
  .main-header__wrapper {
    width: 320px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .main-header__logo {
    margin-top: 24px;
    width: 202px;
    height: 52px;
  }
}
@media (min-width: 768px) and (min-width: 768px) {
  .main-header__wrapper {
    width: 768px;
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media (min-width: 768px) and (min-width: 1440px) {
  .main-header__wrapper {
    width: 1440px;
    padding-left: 110px;
    padding-right: 110px;
  }
}
@media (min-width: 1440px) {
  .main-header__wrapper {
    width: 320px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .main-header {
    height: 694px;
    background-color: #000000;
    background-image: url("../img/desktop_background.jpg");
    background-size: contain;
    background-position: right;
    background-repeat: no-repeat;
  }
  .main-header__logo {
    margin-top: 53px;
    height: 59px;
  }
}
@media (min-width: 1440px) and (min-width: 768px) {
  .main-header__wrapper {
    width: 768px;
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media (min-width: 1440px) and (min-width: 1440px) {
  .main-header__wrapper {
    width: 1440px;
    padding-left: 110px;
    padding-right: 110px;
  }
}
.maim-nav__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.main-nav {
  position: relative;
  width: auto;
  min-height: 65px;
}
.main-nav__toggle {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  display: block;
  width: 24px;
  height: 65px;
  cursor: pointer;
  border: none;
  background-color: #ffffff;
}
.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 24px;
  right: 0;
  width: 24px;
  height: 1.5px;
  background-color: #000000;
  box-shadow: 0 8px 0 0 #000000, 0 16px 0 0 #000000;
}
.main-nav--closed .main-nav__toggle:active::before {
  background-color: rgba(0, 0, 0, 0.3);
  box-shadow: 0 8px 0 0 rgba(0, 0, 0, 0.3), 0 16px 0 0 rgba(0, 0, 0, 0.3);
}
@media (max-width: 767px) {
  .main-nav--closed .site-list__item {
    display: none;
  }
  .main-nav--opened .main-nav__wrapper {
    position: absolute;
    top: 24;
    right: 20;
    z-index: 10;
    min-height: 60vh;
    background-color: #ffffff;
  }
  .main-nav--opened .main-nav__wrapper::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    width: 24px;
    height: 100%;
  }
  .main-nav--nojs .main-nav__toggle {
    display: none;
  }
  .main-nav--nojs .main-nav__wrapper {
    position: static;
    min-height: 0;
  }
  .main-nav--nojs .site-list__item {
    display: block;
  }
}
.main-nav--opened .main-nav__toggle {
  top: 0;
  right: 0;
  left: auto;
}
.main-nav--opened .main-nav__toggle::before,
.main-nav--opened .main-nav__toggle::after {
  content: "";
  position: absolute;
  top: 24px;
  left: 18px;
  width: 24px;
  height: 1.5px;
  background-color: #000000;
}
.main-nav--opened .main-nav__toggle::before {
  transform: rotate(45deg);
  box-shadow: none;
}
.main-nav--opened .main-nav__toggle::after {
  transform: rotate(-45deg);
}
.main-nav--opened .main-nav__toggle:active::before,
.main-nav--opened .main-nav__toggle:active::after {
  background-color: rgba(0, 0, 0, 0.3);
}
@media (min-width: 768px) {
  .maim-nav__wrapper {
    width: 320px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 25px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 440px;
  }
  .main-nav__toggle {
    display: none;
  }
}
@media (min-width: 768px) and (min-width: 768px) {
  .maim-nav__wrapper {
    width: 768px;
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media (min-width: 768px) and (min-width: 1440px) {
  .maim-nav__wrapper {
    width: 1440px;
    padding-left: 110px;
    padding-right: 110px;
  }
}
@media (min-width: 1440px) {
  .maim-nav__wrapper {
    width: 320px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
    justify-content: flex-end;
    width: 480px;
  }
}
@media (min-width: 1440px) and (min-width: 768px) {
  .maim-nav__wrapper {
    width: 768px;
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media (min-width: 1440px) and (min-width: 1440px) {
  .maim-nav__wrapper {
    width: 1440px;
    padding-left: 110px;
    padding-right: 110px;
  }
}
.site-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  border-top: 1px solid #e6e6e6;
}
.site-list__item {
  text-align: center;
  padding-top: 22px;
  padding-bottom: 22px;
  border-bottom: 1px solid #e6e6e6;
}
.site-list__link {
  position: relative;
  display: block;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
}
@media (min-width: 768px) {
  .site-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    width: 440px;
    border-top: none;
  }
  .site-list__item {
    margin-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: none;
    border-bottom: none;
  }
  .site-list__item:last-child {
    margin-right: 0;
  }
  .site-list__item--current {
    position: relative;
  }
  .site-list__item--current::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 2px;
    background-color: #68B738;
  }
  .site-list__link {
    font-family: "Oswald", "Arial", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    text-transform: uppercase;
    text-decoration: none;
    color: #000000;
  }
  .site-list__link:hover {
    color: #000000;
    opacity: 0.3;
  }
  .site-list__link:active {
    color: #000000;
  }
  .site-list__link:focus {
    color: #000000;
    opacity: 0.7;
  }
}
@media (min-width: 1440px) {
  .site-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    width: 480px;
    border-top: none;
  }
  .site-list__item {
    margin-right: 32px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-top: none;
    border-bottom: none;
  }
  .site-list__item:last-child {
    margin-right: 0;
  }
  .site-list__item--current {
    position: relative;
  }
  .site-list__item--current::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 2px;
    background-color: #ffffff;
  }
  .site-list__link {
    font-family: "Oswald", "Arial", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    text-transform: uppercase;
    text-decoration: none;
    color: #ffffff;
  }
  .site-list__link:hover {
    color: #ffffff;
    opacity: 0.3;
  }
  .site-list__link:active {
    color: #ffffff;
  }
  .site-list__link:focus {
    color: #ffffff;
    opacity: 0.7;
  }
}
.promo__wrapper {
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
  width: 320px;
  height: 302px;
  background-color: #000000;
  background-image: url("../../img/index_background.jpg");
  background-position: center;
  background-repeat: no-repeat;
}
@media (min-width: 768px) {
  .promo__wrapper {
    width: 768px;
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media (min-width: 1440px) {
  .promo__wrapper {
    width: 1440px;
    padding-left: 110px;
    padding-right: 110px;
  }
}
.promo__title {
  margin: 0;
  padding: 27px 15px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  text-align: center;
  color: #ffffff;
}
.promo__slogan {
  margin: 0;
  margin-bottom: 20px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
}
.promo__button-wrapper {
  width: 320px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 138px;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .promo__button-wrapper {
    width: 768px;
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media (min-width: 1440px) {
  .promo__button-wrapper {
    width: 1440px;
    padding-left: 110px;
    padding-right: 110px;
  }
}
.promo__button {
  width: 280px;
  padding: 11px 44px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #68B738;
}
@media (min-width: 768px) {
  .promo__wrapper {
    width: 320px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #ffffff;
    background-image: none;
  }
  .promo__title {
    margin-left: 87px;
    width: 414px;
    padding: 0;
    padding-top: 62px;
    padding-bottom: 40px;
    font-family: "Oswald", "Arial", sans-serif;
    font-weight: 400;
    font-size: 60px;
    line-height: 60px;
    text-align: left;
    color: #000000;
  }
  .promo__slogan {
    margin-left: 87px;
    font-family: "Oswald", "Arial", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    text-transform: uppercase;
    text-align: left;
    color: #000000;
  }
  .promo__button {
    margin-left: 87px;
    padding: 14px 26px;
    font-family: "Oswald", "Arial", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #68B738;
  }
}
@media (min-width: 768px) and (min-width: 768px) {
  .promo__wrapper {
    width: 768px;
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media (min-width: 768px) and (min-width: 1440px) {
  .promo__wrapper {
    width: 1440px;
    padding-left: 110px;
    padding-right: 110px;
  }
}
@media (min-width: 1440px) {
  .promo__wrapper {
    text-align: start;
    align-items: center;
  }
  .promo__title {
    width: 414px;
    font-family: "Oswald", "Arial", sans-serif;
    font-weight: 400;
    font-size: 60px;
    line-height: 60px;
    color: #000000;
  }
  .promo__slogan {
    margin: 0;
    font-family: "Oswald", "Arial", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    text-transform: uppercase;
    color: #000000;
  }
  .promo__button {
    padding: 14px 26px;
    font-family: "Oswald", "Arial", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    align-items: center;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #68B738;
  }
}
.features__wrapper {
  width: 320px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  display: block;
}
@media (min-width: 768px) {
  .features__wrapper {
    width: 768px;
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media (min-width: 1440px) {
  .features__wrapper {
    width: 1440px;
    padding-left: 110px;
    padding-right: 110px;
  }
}
.features__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}
.features__item {
  background-color: #f2f2f2;
}
.features__item--slim {
  margin-bottom: 20px;
  padding: 20px;
}
.features__item--pro {
  padding: 20px;
}
.features__title {
  margin: 0;
  padding-left: 79px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  color: #000000;
}
.features__description {
  margin: 0;
  margin-top: 25px;
  margin-bottom: 23px;
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
}
.features__link {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
}
@media (min-width: 768px) {
  .features__wrapper {
    width: 320px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
  }
  .features__item {
    background-color: #f2f2f2;
    padding: 77px 320px 57px 50px;
  }
  .features__item--slim {
    margin-bottom: 30px;
  }
  .features__title {
    margin: 0;
    font-family: "Oswald", "Arial", sans-serif;
    font-weight: 400;
    font-size: 36px;
    line-height: 36px;
    text-transform: uppercase;
    text-align: center;
    color: #000000;
  }
  .features__description {
    margin: 0;
    margin-top: 24px;
    margin-bottom: 52px;
    font-family: "Arial", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #444444;
  }
  .features__link {
    font-family: "Oswald", "Arial", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
    text-decoration: none;
  }
}
@media (min-width: 768px) and (min-width: 768px) {
  .features__wrapper {
    width: 768px;
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media (min-width: 768px) and (min-width: 1440px) {
  .features__wrapper {
    width: 1440px;
    padding-left: 110px;
    padding-right: 110px;
  }
}
@media (min-width: 1440px) {
  .features__wrapper {
    width: 320px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
  }
  .features__list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
  }
  .features__item {
    width: 570px;
    background-color: #f2f2f2;
    padding: 77px  52px 59px;
  }
  .features__item--slim {
    margin-bottom: 0;
    margin-right: 80px;
  }
  .features__description {
    margin: 0;
    margin-top: 73px;
    margin-bottom: 27px;
    font-family: "Arial", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #444444;
  }
}
@media (min-width: 1440px) and (min-width: 768px) {
  .features__wrapper {
    width: 768px;
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media (min-width: 1440px) and (min-width: 1440px) {
  .features__wrapper {
    width: 1440px;
    padding-left: 110px;
    padding-right: 110px;
  }
}
.advantages__wrapper {
  width: 320px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}
@media (min-width: 768px) {
  .advantages__wrapper {
    width: 768px;
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media (min-width: 1440px) {
  .advantages__wrapper {
    width: 1440px;
    padding-left: 110px;
    padding-right: 110px;
  }
}
.advantages__lists {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}
.advantages__item {
  margin-bottom: 20px;
  padding-left: 80px;
}
.advantages__item:last-child {
  margin-bottom: 46px;
}
.advantages__title {
  margin: 0;
  margin-top: 20px;
  margin-bottom: 40px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  color: #000000;
}
.advantages__description {
  width: 200px;
  margin: 0;
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
}
@media (min-width: 768px) {
  .advantages__lists {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .advantages__item {
    padding-left: 12px;
  }
  .advantages__title {
    margin: 0;
    margin-top: 45px;
    margin-bottom: 40px;
    font-family: "Oswald", "Arial", sans-serif;
    font-weight: 400;
    font-size: 60px;
    line-height: 60px;
    text-align: start;
    color: #000000;
  }
  .advantages__description {
    width: 250px;
    margin: 0;
    font-family: "Arial", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #444444;
  }
}
@media (min-width: 1440px) {
  .advantages__wrapper {
    width: 320px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
  }
  .advantages__lists {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  .advantages__item {
    margin-bottom: 26px;
  }
  .advantages__title {
    margin-top: 45px;
    margin-bottom: 40px;
    font-family: "Oswald", "Arial", sans-serif;
    font-weight: 400;
    font-size: 60px;
    line-height: 60px;
    text-align: left;
    color: #000000;
  }
  .advantages__description {
    width: 245px;
    margin: 0;
    font-family: "Arial", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #444444;
  }
}
@media (min-width: 1440px) and (min-width: 768px) {
  .advantages__wrapper {
    width: 768px;
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media (min-width: 1440px) and (min-width: 1440px) {
  .advantages__wrapper {
    width: 1440px;
    padding-left: 110px;
    padding-right: 110px;
  }
}
.special {
  background-color: #eaeaea;
}
.special__wrapper {
  width: 320px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 48px;
}
@media (min-width: 768px) {
  .special__wrapper {
    width: 768px;
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media (min-width: 1440px) {
  .special__wrapper {
    width: 1440px;
    padding-left: 110px;
    padding-right: 110px;
  }
}
.special__title {
  margin: 0;
  margin-bottom: 40px;
  padding-top: 25px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  color: #000000;
}
.special__description {
  margin: 0;
  margin-bottom: 20px;
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
}
.special__lists {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
}
.special__item {
  display: flex;
  flex-direction: column;
  width: 124px;
  border: 1px solid #cdcdcd;
  border-radius: 3px;
  margin-bottom: 20px;
}
.special__item + .special__item {
  margin-left: 32px;
}
.special__value {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  color: #000000;
}
.special__text {
  width: 77px;
  margin: 0;
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  align-self: center;
  text-align: center;
  color: #444444;
}
.special__expenses {
  margin: 0;
  margin-bottom: 40px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}
@media (min-width: 768px) {
  .special {
    background-color: #ffffff;
  }
  .special__wrapper {
    width: 320px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .special__title {
    margin: 0;
    margin-bottom: 63px;
    padding-top: 43px;
    font-family: "Oswald", "Arial", sans-serif;
    font-weight: 400;
    font-size: 60px;
    line-height: 60px;
    text-align: center;
    color: #000000;
  }
  .special__description {
    margin: 0;
    margin-bottom: 54px;
    font-family: "Arial", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #444444;
  }
  .special__item {
    width: 162px;
  }
  .special__item + .special__item {
    margin-left: 42px;
  }
  .special__value {
    font-family: "Oswald", "Arial", sans-serif;
    font-weight: 400;
    font-size: 30px;
    line-height: 37px;
    align-items: center;
    text-align: center;
    color: #000000;
  }
  .special__text {
    margin: 0;
    margin-bottom: 20px;
    font-family: "Arial", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    align-items: center;
    text-align: center;
    color: #444444;
  }
  .special__expenses {
    width: 174px;
    display: flex;
    margin: 0;
    margin-bottom: 40px;
    margin-left: 167px;
    font-family: "Oswald", "Arial", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
  }
}
@media (min-width: 768px) and (min-width: 768px) {
  .special__wrapper {
    width: 768px;
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media (min-width: 768px) and (min-width: 1440px) {
  .special__wrapper {
    width: 1440px;
    padding-left: 110px;
    padding-right: 110px;
  }
}
@media (min-width: 1440px) {
  .special__wrapper {
    width: 320px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
    background: linear-gradient(#ffffff 205px, #f2f2f2 205px);
  }
  .special__title {
    margin: 0;
    margin-bottom: 76px;
    padding-top: 69px;
    font-family: "Oswald", "Arial", sans-serif;
    font-weight: 400;
    font-size: 60px;
    line-height: 60px;
    text-align: left;
    color: #000000;
  }
  .special__description {
    width: 438px;
    margin: 0;
    display: flex;
    margin-bottom: 70px;
    padding-top: 70px;
    font-family: "Arial", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #444444;
  }
  .special__text {
    margin: 0;
    margin-bottom: 47px;
    font-family: "Arial", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    align-items: center;
    text-align: center;
    color: #444444;
  }
  .special__expenses {
    width: 438px;
    display: flex;
    margin: 0;
    margin-bottom: 40px;
    font-family: "Oswald", "Arial", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    text-align: left;
    text-transform: uppercase;
    color: #000000;
  }
}
@media (min-width: 1440px) and (min-width: 768px) {
  .special__wrapper {
    width: 768px;
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media (min-width: 1440px) and (min-width: 1440px) {
  .special__wrapper {
    width: 1440px;
    padding-left: 110px;
    padding-right: 110px;
  }
}
.range {
  display: flex;
  flex-direction: row;
  margin: auto;
  padding-top: 15px;
  width: 210px;
}
.range__button {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: #000000;
  background-color: #ffffff;
  border: none;
}
.range__button--left {
  width: 49px;
  text-align: left;
}
.range__button--left--right {
  width: 49px;
  text-align: right;
}
.range__slider {
  width: 86px;
  margin-right: 13px;
  margin-left: 13px;
  background: #ffffff;
  border: 1px solid #cdcdcd;
  border-radius: 6px;
}
@media (min-width: 768px) {
  .range__button {
    font-family: "Oswald", "Arial", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: #000000;
    background-color: #ffffff;
    border: none;
  }
  .range__button--left {
    width: 49px;
    text-align: left;
  }
  .range__button--left--right {
    width: 49px;
    text-align: right;
  }
  .range__slider {
    width: 428px;
    margin-right: 23px;
    margin-left: 23px;
    background: #ffffff;
    border: 1px solid #cdcdcd;
    border-radius: 6px;
  }
}
@media (min-width: 1440px) {
  .range__button {
    font-family: "Oswald", "Arial", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: #000000;
    background-color: #ffffff;
    border: none;
  }
  .range__button--left {
    width: 49px;
    text-align: left;
  }
  .range__button--left--right {
    width: 49px;
    text-align: right;
  }
  .range__slider {
    width: 428px;
    margin-right: 23px;
    margin-left: 23px;
    background: #ffffff;
    border: 1px solid #cdcdcd;
    border-radius: 6px;
  }
}
.contacts__wrapper {
  width: 320px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-direction: row;
  padding-top: 26px;
  padding-bottom: 26px;
  background-color: #ffffff;
}
@media (min-width: 768px) {
  .contacts__wrapper {
    width: 768px;
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media (min-width: 1440px) {
  .contacts__wrapper {
    width: 1440px;
    padding-left: 110px;
    padding-right: 110px;
  }
}
.contacts__invitation {
  margin: 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #111111;
}
.contacts__address {
  margin: 0;
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #444444;
}
@media (min-width: 768px) {
  .contacts__wrapper {
    width: 320px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 0;
    padding-right: 0;
  }
  .contacts__invitation {
    width: 171px;
    margin: 0;
    font-family: "Oswald", "Arial", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    text-transform: uppercase;
    color: #111111;
  }
  .contacts__adress {
    width: 160px;
    margin: 0;
    font-family: "Arial", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #444444;
  }
}
@media (min-width: 768px) and (min-width: 768px) {
  .contacts__wrapper {
    width: 768px;
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media (min-width: 768px) and (min-width: 1440px) {
  .contacts__wrapper {
    width: 1440px;
    padding-left: 110px;
    padding-right: 110px;
  }
}
@media (min-width: 1440px) {
  .contacts__wrapper {
    margin-left: 0;
    width: 565px;
    padding: 56px 80px;
    display: flex;
    flex-direction: row;
    justify-content: left;
  }
  .contacts__invitation {
    width: 163px;
    margin: 0;
    margin-right: 87px;
    font-family: "Oswald", "Arial", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    text-transform: uppercase;
    color: #111111;
  }
  .contacts__adress {
    width: 155px;
    margin: 0;
    font-family: "Arial", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #444444;
  }
}
.main-footer {
  background-color: #f2f2f2;
}
.main-footer__wrapper {
  width: 320px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  padding-top: 39px;
  padding-bottom: 22px;
}
@media (min-width: 768px) {
  .main-footer__wrapper {
    width: 768px;
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media (min-width: 1440px) {
  .main-footer__wrapper {
    width: 1440px;
    padding-left: 110px;
    padding-right: 110px;
  }
}
.main-footer__logo {
  width: 128px;
  height: 24px;
  margin-bottom: 32px;
}
@media (min-width: 768px) {
  .main-footer__wrapper {
    width: 320px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 62px;
    padding-bottom: 65px;
  }
  .main-footer__logo {
    width: 132px;
    height: 22px;
  }
}
@media (min-width: 768px) and (min-width: 768px) {
  .main-footer__wrapper {
    width: 768px;
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media (min-width: 768px) and (min-width: 1440px) {
  .main-footer__wrapper {
    width: 1440px;
    padding-left: 110px;
    padding-right: 110px;
  }
}
@media (min-width: 1440px) {
  .main-footer__wrapper {
    width: 320px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 62px;
    padding-bottom: 65px;
  }
}
@media (min-width: 1440px) and (min-width: 768px) {
  .main-footer__wrapper {
    width: 768px;
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media (min-width: 1440px) and (min-width: 1440px) {
  .main-footer__wrapper {
    width: 1440px;
    padding-left: 110px;
    padding-right: 110px;
  }
}
.social__lists {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 13px;
  padding-bottom: 13px;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
}
.social__item {
  padding: 12px;
}
.social__item + .social__item {
  margin-left: 26px;
}
.social__link {
  display: block;
  width: 132px;
}
.social__link--vkontakte {
  width: 27px;
  height: 17px;
}
.social__link--youtube {
  width: 24px;
  height: 18px;
}
.social__link--telegram {
  width: 20px;
  height: 17px;
}
@media (min-width: 768px) {
  .social__lists {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-self: center;
    padding-top: 13px;
    padding-bottom: 13px;
    border-top: none;
    border-bottom: none;
  }
}
@media (min-width: 1440px) {
  .social__lists {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-self: center;
    padding-top: 13px;
    padding-bottom: 13px;
    border-top: none;
    border-bottom: none;
  }
}
.copyright {
  margin-top: 28px;
}
.copyright__text {
  margin: 0;
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #444444;
}
.main-inner {
  width: 320px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #ffffff;
  padding-top: 27px;
  padding-bottom: 32px;
}
@media (min-width: 768px) {
  .main-inner {
    width: 768px;
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media (min-width: 1440px) {
  .main-inner {
    width: 1440px;
    padding-left: 110px;
    padding-right: 110px;
  }
}
.main-inner__title {
  margin: 0;
  margin-bottom: 37px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  color: #000000;
}
.main-inner__info-form {
  margin-bottom: 39px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;
}
@media (min-width: 768px) {
  .main-inner__wrapper {
    padding-left: 30px;
    padding-right: 27px;
  }
  .main-inner__title {
    font-family: "Oswald", "Arial", sans-serif;
    font-weight: 400;
    font-size: 60px;
    line-height: 60px;
    color: #000000;
  }
  .main-inner__info-form {
    width: 323px;
    margin-bottom: 66px;
    font-family: "Oswald", "Arial", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    text-transform: uppercase;
    color: #000000;
  }
}
@media (min-width: 1440px) {
  .main-inner__wrap {
    padding-left: 0;
    padding-right: 0;
  }
  .main-inner__title {
    font-family: "Oswald", "Arial", sans-serif;
    font-weight: 400;
    font-size: 60px;
    line-height: 60px;
    color: #000000;
  }
  .main-inner__info-form {
    width: 323px;
    font-family: "Oswald", "Arial", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    text-transform: uppercase;
    color: #000000;
  }
}
.product-item {
  display: grid;
  grid-template-columns: 140px 140px;
  grid-template-rows: repeat(3, auto);
  border-top: 1px solid #ebebeb;
}
.product-item__image {
  display: block;
  grid-column: 1 / 2;
  grid-row: 1 / -1;
  background-position: center;
  justify-self: center;
  padding-top: 33px;
}
.product-item__title {
  margin: 0;
  width: 76px;
  padding-top: 19px;
  margin-bottom: 14px;
  grid-column: 2 / -1;
  grid-row: 1 / 2;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  align-items: center;
  text-transform: uppercase;
  color: #222222;
}
.product-item__lists-info {
  grid-column: 2 / -1;
  grid-row: 2 / 3;
}
.product-item__button {
  width: 280px;
  padding: 10px 109px;
  margin-top: 22px;
  margin-bottom: 25px;
  grid-column: 1 / -1;
  grid-row: 3 / -1;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .product-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    justify-self: center;
    align-items: center;
    background: linear-gradient(#ffffff 45px, #f2f2f2 45px);
    margin-bottom: 68px;
    width: 324px;
    border-top: none;
  }
  .product-item__image {
    display: block;
    margin-bottom: 34px;
    padding-top: 0;
  }
  .product-item__title {
    margin: 0;
    width: 155px;
    margin-bottom: 21px;
    display: flex;
    flex-direction: row;
    align-self: center;
    text-align: center;
    font-family: "Oswald", "Arial", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    color: #222222;
  }
  .product-item__button {
    width: 250px;
    padding: 10px 93px;
    margin-top: 33px;
    margin-bottom: 39px;
    font-family: "Oswald", "Arial", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
  }
}
@media (min-width: 1440px) {
  .product-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    justify-self: center;
    align-items: center;
    margin-bottom: 92px;
    width: 245px;
  }
  .product-item__image {
    display: block;
  }
  .product-item__title {
    margin: 0;
    margin-bottom: 20px;
    width: 155px;
    font-family: "Oswald", "Arial", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 21px;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #222222;
  }
  .product-item__button {
    width: 168px;
    padding: 10px 39px;
    margin-bottom: 39px;
    font-family: "Oswald", "Arial", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
  }
}
.additives__lists {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.additives__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  color: #000000;
}
.additives-gift {
  width: 280px;
  height: 290px;
  background-color: #000000;
  background-image: url("../img/gift.jpg");
  background-size: 280px auto;
  background-repeat: no-repeat;
}
.additives-gift__slogan {
  padding: 187px 61px 43px 58px;
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  align-items: center;
  text-align: center;
  color: #ffffff;
}
.form__group {
  margin-bottom: 24px;
}
.form__label {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;
}
.form__input-text {
  margin-bottom: 14px;
  padding: 15px 13px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  align-items: center;
  text-transform: uppercase;
  color: #444444;
}
.form__input-text--name {
  width: 229px;
}
.form__input-text--weight {
  margin-left: 8px;
  width: 204px;
}
.form__input-text--age {
  margin-left: 4px;
  width: 172px;
}
.form__input-text--email {
  width: 219px;
}
.form__input-text--tel {
  width: 204px;
}
.form__textarea {
  min-width: 280px;
  min-height: 150px;
  padding: 9px 13px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;
}
.form__radio-lists {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.form__item {
  position: relative;
  margin-bottom: 25px;
  padding-left: 45px;
}
.form__item-input {
  display: block;
}
.form__item-mark {
  position: absolute;
  top: -5px;
  left: 0;
  background-color: #ffffff;
  border: 1px solid #cdcdcd;
}
.form__item-mark--radio {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.form__item-mark--checkbox {
  width: 30px;
  height: 30px;
}
.form__item-option {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
}
.form__item-option--radio {
  color: #222222;
}
.form__item-option--checkbox {
  color: #000000;
  padding-left: 15px;
}
.form__checkbox-title {
  margin-bottom: 34px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  color: #000000;
}
.form__checkbox-lists {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.form__checkbox-wrapper {
  margin-bottom: 34px;
}
.form__button {
  width: 280px;
  margin-bottom: 21px;
  padding: 7px 44px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #68B738;
}
.form__legend {
  margin-left: 60px;
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  align-items: center;
  text-align: center;
  color: #000000;
}
@media (min-width: 768px) {
  .form__group {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .form__wrapper {
    padding-left: 41px;
    padding-right: 27px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .form__label {
    margin-right: 10px;
    font-family: "Oswald", "Arial", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    align-items: center;
    text-transform: uppercase;
    color: #444444;
  }
  .form__input-text {
    margin-bottom: 20px;
    padding: 11px 19px;
    font-family: "Oswald", "Arial", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    text-align: start;
    align-items: center;
    text-transform: uppercase;
    color: #444444;
  }
  .form__input-text--name {
    width: 567px;
  }
  .form__input-text--weight {
    margin-left: 8px;
    width: 536px;
  }
  .form__input-text--age {
    margin-left: 13px;
    width: 497px;
  }
  .form__input-text--email {
    width: 551px;
  }
  .form__input-text--tel {
    width: 535px;
  }
  .form__textarea {
    min-width: 631px;
    min-height: 174px;
    padding: 10px 19px;
    font-family: "Oswald", "Arial", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    color: #444444;
  }
  .form__radio-wrapper {
    padding-left: 41px;
    padding-right: 27px;
  }
  .form__radio-lists {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    border: 1px solid #e7e7e7;
  }
  .form__item {
    position: relative;
    padding-left: 40px;
    margin-bottom: 42px;
  }
  .form__item-input {
    display: block;
  }
  .form__item-mark {
    position: absolute;
    top: -10px;
    left: 0;
    background-color: #ffffff;
    border: 1px solid #cdcdcd;
  }
  .form__item-mark--radio {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
  .form__item-mark--checkbox {
    width: 40px;
    height: 40px;
  }
  .form__item-option {
    font-family: "Oswald", "Arial", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
  }
  .form__item-option--radio {
    color: #222222;
  }
  .form__item-option--checkbox {
    color: #000000;
    padding-left: 15px;
  }
  .form__checkbox-title {
    padding-left: 40px;
    margin-bottom: 57px;
    font-family: "Oswald", "Arial", sans-serif;
    font-weight: 400;
    font-size: 36px;
    line-height: 36px;
    color: #000000;
  }
  .form__checkbox-lists {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 40px 40px;
    row-gap: 32px;
  }
  .form__checkbox-wrapper {
    padding-left: 40px;
    margin-bottom: 54px;
  }
  .form__button-wrapper {
    margin-bottom: 72px;
    padding-left: 40px;
  }
  .form__button {
    width: 282px;
    margin-bottom: 21px;
    padding: 13px 45px;
    font-family: "Oswald", "Arial", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #68B738;
  }
  .form__legend {
    margin-left: 65px;
    font-family: "Arial", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    align-items: center;
    text-align: center;
    color: #000000;
  }
}
.personal-date__info {
  margin-bottom: 35px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  color: #000000;
}
@media (min-width: 768px) {
  .personal-date__info {
    margin-bottom: 76px;
    padding-left: 40px;
    font-family: "Oswald", "Arial", sans-serif;
    font-weight: 400;
    font-size: 36px;
    line-height: 36px;
    color: #000000;
  }
}
@media (min-width: 1440px) {
  .personal-date__group {
    display: flex;
    flex-direction: row;
    margin-bottom: 67px;
  }
  .personal-date__info {
    margin-bottom: 76px;
    padding-left: 0;
    font-family: "Oswald", "Arial", sans-serif;
    font-weight: 400;
    font-size: 36px;
    line-height: 36px;
    color: #000000;
  }
}
.comments__wrap {
  margin-bottom: 23px;
}
.comments__info {
  margin-bottom: 37px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  color: #000000;
}
@media (min-width: 768px) {
  .comments__wrapper {
    padding-left: 40px;
    margin-bottom: 65px;
  }
  .comments__info {
    margin-bottom: 76px;
    padding-left: 40px;
    font-family: "Oswald", "Arial", sans-serif;
    font-weight: 400;
    font-size: 36px;
    line-height: 36px;
    color: #000000;
  }
}
@media (min-width: 1440px) {
  .comments__wrap {
    padding-left: 0;
    margin-bottom: 65px;
  }
  .comments__info {
    margin-bottom: 76px;
    padding-left: 0;
    font-family: "Oswald", "Arial", sans-serif;
    font-weight: 400;
    font-size: 36px;
    line-height: 36px;
    color: #000000;
  }
}
.products__lists {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
@media (min-width: 768px) {
  .products__lists {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 324px 324px;
    column-gap: 60px;
  }
}
@media (min-width: 1440px) {
  .products__lists {
    list-style-type: none;
    margin: 0;
    padding: 0;
    grid-template-columns: repeat(4, 245px);
    column-gap: 80px;
  }
}
.info-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.info-list__item {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: repeat(3, auto);
  column-gap: 65px;
}
.info-list__item-label {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: #444444;
}
.info-list__item-value {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: #444444;
}
@media (min-width: 768px) {
  .info-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 250px;
    display: grid;
    row-gap: 16px;
  }
  .info-list__item {
    display: grid;
    grid-template-columns: 50px 50px;
    grid-template-rows: repeat(3, auto);
    column-gap: 140px;
    justify-self: center;
  }
  .info-list__item-label {
    font-family: "Arial", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    text-align: start;
    color: #444444;
    width: 250px;
    padding-bottom: 9px;
    border-bottom: 1px solid #cdcdcd;
  }
  .info-list__item-value {
    font-family: "Arial", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    color: #444444;
  }
}
@media (min-width: 1440px) {
  .info-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  .info-list__item {
    display: grid;
    grid-template-columns: 50px 50px;
    grid-template-rows: repeat(3, auto);
    column-gap: 66px;
  }
  .info-list__item-label {
    font-family: "Arial", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    text-align: left;
    color: #444444;
    width: 169px;
  }
  .info-list__item-value {
    font-family: "Arial", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    color: #444444;
  }
}
.additive-item {
  display: grid;
  grid-template-columns: 150px 1fr;
  grid-template-rows: auto auto auto;
  row-gap: 13px;
}
.additive-item__title {
  margin: 0;
  grid-column: 1 / -1;
  grid-row: 1 / 2;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  align-items: left;
  text-align: left;
  text-transform: uppercase;
  color: #222222;
}
.additive-item__label {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  align-items: center;
  text-align: left;
  color: #444444;
}
.additive-item__value {
  grid-column: 2 / -1;
  grid-row: 2 / 3;
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  align-items: center;
  text-align: right;
  color: #444444;
}
.additive-item__button {
  width: 280px;
  grid-column: 1 / -1;
  grid-row: 3 / -1;
  margin-bottom: 19px;
  padding: 10px 109px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #68B738;
  border: none;
}
.show-more__title {
  width: 279px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #111111;
}
.show-more__description {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: #444444;
}
.show-more__button {
  padding: 10px 94px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #444444;
  background: #f2f2f2;
}
@media (min-width: 768px) {
  .show-more {
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
  }
  .show-more__title {
    width: 134px;
    font-family: "Oswald", "Arial", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 22px;
    text-align: center;
    align-items: center;
    text-transform: uppercase;
    color: #111111;
  }
  .show-more__description {
    width: 167px;
    margin-bottom: 87px;
    font-family: "Arial", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    align-items: center;
    color: #444444;
  }
  .show-more__button {
    width: 250px;
    padding: 10px 79px;
    font-family: "Oswald", "Arial", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #444444;
    background: #f2f2f2;
    border: none;
  }
}
@media (min-width: 1440px) {
  .show-more__title {
    font-family: "Oswald", "Arial", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 22px;
    text-align: center;
    text-transform: uppercase;
    color: #111111;
  }
  .show-more__description {
    font-family: "Arial", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    color: #444444;
  }
  .show-more__button {
    width: 168px;
    padding: 10px 39px;
    font-family: "Oswald", "Arial", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #444444;
    background: #f2f2f2;
    border: none;
  }
}
.location {
  display: block;
}
.location__maps {
  background-size: 320px 362px;
}
.main-container {
  flex-grow: 1;
}
.page {
  height: 100%;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
}
.page-body {
  min-height: 100%;
  margin: 0;
  color: #000000;
  background-color: #ffffff;
}
/*# sourceMappingURL=style.css.map */
